* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a {
    color: #333;
}

body {
    padding-bottom: 500px;
    
}

.class {
    border-bottom: 1px solid #e41f1f;
    padding: 2em;
    margin-bottom: 1em;
}